{% extends "core/base.html" %}

{% load static %}

{% block titulo %}<title>Grupo Cero - Actualizar solicitud</title>{% endblock %}

{% block navmenuver %}{% endblock %}

{% block navbuscar %}{% endblock %}

{% block navmenu %}{% endblock %}

{% block navcarrito %}{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row text-center justify-content-center">
        <div class="col-md-6">
            <a href="{% url 'miembros' %}" class="btn btn-secondary mb-3"><i class="bi bi-arrow-left"></i> Volver al panel de miembros</a>
            <div class="container my-5">
                {% load crispy_forms_tags %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'imagen_artista' %}
                            {{ field|as_crispy_field }}
                        {% else %}
                            <p>Imágen Artista</p>
                            {% if field.value %}
                                <img id="preview" src="{{ field.value.url }}" alt="Imagen del artista" class="my-5" style="max-width: 50%;">
                            {% else %}
                                <img id="preview" src="#" alt="Imagen del artista" class="my-5" style="max-width: 50%; display: none;">
                            {% endif %}
                            <input type="file" name="{{ field.name }}" id="id_imagen_artista">
                        {% endif %}
                    {% endfor %}
                    <input class="btn btn-success my-5" type="submit" value="Actualizar">
                </form>
                {{ msj }}
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('id_imagen_artista').onchange = function (event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('preview');
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    };
    </script>
{% endblock %}

{% block modals %}
{% endblock %}

{% block customfooter %}
{% endblock %}